.input-typeahead__form {
  display: flex;
  position: relative;
  top: 80px;
}

.input-typeahead__input {
  border: 1.5px solid $color__grey--dark;
  border-radius: 10px;
  font-weight: $font-weight--light;
  height: 30px;
  padding: 10px;
  transition: all 250ms ease-in-out ;
  width: 300px;

  &:hover {
    border-color: $color__green;
  }

  &:focus {
    border-color: $color__green--dark;
  }
}

.input-typeahead__reset {
  align-items: center;
  justify-content: center;
  display: flex;
}

.input-typeahead__reset__icon {
  height: 1em;
  width: 1em;
}
