:root {
  background: $color__grey--light;
  box-sizing: border-box;
  color: $color__black;
  font-family: $font-family__default;
  height: 100%;
  width: 100%;
}

body {
  height: inherit;
  overflow: hidden;
  position: fixed;
  width: inherit;
}

input {
  border: none;

  &:focus {
    outline: none;
  }
}

h1 {
  margin: 0;
}

#root {
  height: inherit;
  width: inherit;
}
