$color__black: rgba(62, 69, 84, 1);
$color__green: rgba(19, 215, 188, 1);
$color__green--dark: rgba(17, 193, 169, 1);
$color__grey: rgba(243, 243, 246, 1);
$color__grey--dark: rgba(174, 181, 202, 1);
$color__grey--light: rgba(252, 252, 254, 1);
$color__purple: rgba(106, 123, 255, 1);
$color__purple--dark: rgba(98, 95, 241, 1);
$color__purple--light: rgba(229, 228, 252, 1);
$color__pink: rgba(255, 106, 156, 1);
$color__pink--dark: rgba(229, 95, 140, 1);
$color__white: rgba(255, 255, 255, 1);

$font-family__default: 'Lato', sans-serif;

$font-size--default: 16px;
$font-size--s: 12px;
$font-size--xs: 8px;
$font-weight--bold: 700;
$font-weight--heavy: 800;
$font-weight--light: 300;
$font-weight--regular: 400;
$font-weight--semibold: 600;

$page-width__content: 1240px;
$page-width__mobile: 767px;
